body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 20px;
}

p{
    line-height: 2;
    width: 85%;
    color: gray;
}


/* Navbar */
ul{
    list-style-type: none;
    margin-right: 4%;
    padding: 0;
    overflow: hidden;

}

li a{
    display: block;
    float: right;
    text-decoration: none;
    color: rgb(48, 47, 47);
    padding: 15px 10px;
    margin: 5px 10px;
}

li a:hover{
    background-color: rgb(206, 206, 197);
}


/* Top Section */

.name-color{
    color: salmon;
}


.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;

}

.half-width img{
    width: 80%;
    margin-bottom: 10%;
}

.btn-design{
    text-decoration: none;
    background-color: salmon;
    padding: 15px 30px;
    border-radius: 6px;
    color: seashell;
    background-image: linear-gradient(90deg, salmon, tomato);
}

/* middle section */

section{
    height: 680px;
}

/* fourth-section */

.fourth-sec-title{
    text-align: center;
    padding-top: 80px;
    width: 60%;
    margin-left: 400px;
}

.fourth-section{
    background-color: whitesmoke;
}

.fourth-section-img1{
    width: 20%;
    float: left;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;

}

.fourth-section-img1 img{
    width: 100%;
}

.all-img-fourth-section{
    margin-left: 20%;
    margin-top: 5%;
}

/* Bottom Section  */

.btn-bottom{
    margin-left: 65%;
    position: relative;
    bottom: 22.5%;
}

.bottom-img{
    width: 60%;
    margin-left: 20%;
    margin-top: 12%;
}

.bottom-title{
    position: absolute;
    left: 25%;
    margin-top: 17.5%;
    color: white;
}


.top-most-bottom{
    text-align: center;
    margin-top: -70px;
}

.top-bottom-img{
    width: 3%;
    padding: 20px;
    margin-bottom: 40px;
}

.title-bottom{
    color: gray;
}

.top-most-bottom-section{
    height: 300px;
}
#top-most-bottom-h2{
    color: rgb(97, 120, 126);
}